.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.flex-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.flex-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story-wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  letter-spacing: 2.3px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.mark {
  color: $accent-color;
}